/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#jp-menu-panel,
#jp-top-bar,
#jp-top-panel,
.jp-LabShell[data-shell-mode='single-document'] #jp-menu-panel,
.jp-LabShell[data-shell-mode='single-document'] #jp-top-bar {
  /* Hide the empty menu panel widget */
  min-height: 0;
  display: none;
}

:root {
  --je-scale: 0.85;
  --je-slate-blue: #412c88;
  --je-round-corners: 12px;
  --je-font-family: 'Inter', sans-serif;
  --je-dialog-round-corners: 12px;
  --je-document-padding: calc(var(--je-scale) * 51px);
  --je-sidebar-width: calc(var(--je-scale) * 110px);
  --je-toolbar-height: calc(var(--je-scale) * 67px);
  --je-margin-below-toolbar: calc(var(--je-scale) * 15px);
  --je-border-color: #e6e6e6;
  --je-slate-blue-gradient:
    linear-gradient(90deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 20%) 100%), #4b3187;
}

.je-DownloadDropdownButton-menu,
.je-KernelSwitcherDropdownButton-menu {
  border-radius: 4px;
  color: var(--je-slate-blue);
  font-family: var(--je-font-family);
  border-collapse: collapse;
  border-color: var(--je-border-color);
}

.je-DownloadDropdownButton-menu .lm-Menu-item,
.je-KernelSwitcherDropdownButton-menu .lm-Menu-item {
  border-top: 1px solid var(--je-border-color);
  cursor: pointer;
}

.je-DownloadDropdownButton-menu .lm-Menu-item:first-of-type,
.je-KernelSwitcherDropdownButton-menu .lm-Menu-item:first-of-type {
  border: 0;
}

.jp-Dialog-content {
  border: 3px solid var(--je-slate-blue);
  border-radius: var(--je-dialog-round-corners);
  box-shadow: 3px 3px 3px rgb(0 0 0 / 25%);
  font-family: var(--je-font-family);
}

.jp-Dialog-footer {
  justify-content: center;
}

.jp-Dialog {
  clip-path: rect(
    calc(var(--je-document-padding) + var(--je-toolbar-height) + var(--je-margin-below-toolbar))
      calc(100% - var(--je-document-padding)) calc(100% - var(--je-document-padding))
      calc(var(--je-document-padding) + var(--je-sidebar-width)) round var(--je-round-corners)
  );
}

.jp-Dialog-content .jp-Dialog-button {
  background: var(--je-slate-blue-gradient) !important;
  box-shadow: 0 1.5px 3px rgb(0 0 0 / 5%);
  border-radius: var(--je-dialog-round-corners);
  font-family: var(--je-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.jp-Dialog-header {
  color: var(--je-slate-blue);
  font-family: var(--je-font-family);
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

.je-share-link {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  word-break: break-all;
  font-family: monospace;
}

.je-PageTitle {
  font-weight: 600;
  font-family: var(--je-font-family);
  font-size: calc(var(--je-scale) * 48px);
}

.je-PageTitle-icon > svg {
  height: calc(var(--je-scale) * 41px);
  margin-left: calc(var(--je-scale) * 30px);
  margin-right: calc(var(--je-scale) * 20px);
}

.jp-SideBar {
  /* Override colors in sidebar */
  --jp-layout-color1: #e6e6e6;
  --jp-layout-color2: #fff;
  --jp-border-width: 0px;
}

.jp-SideBar.lm-TabBar {
  min-width: var(--je-sidebar-width);
  max-width: var(--je-sidebar-width);
}

.jp-SideBar .lm-TabBar-tab:first-of-type {
  margin-bottom: calc(var(--je-scale) * 20px);
}

.jp-SideBar .lm-TabBar-tabIcon > svg {
  width: initial;
  scale: var(--je-scale);
}

.jp-Toolbar {
  --jp-ui-font-color1: var(--je-slate-blue);
  --jp-ui-font-family: var(--je-font-family);
}

.jp-ToolbarButtonComponent-label {
  font-weight: 600;
}

.jp-cell-toolbar .jp-ToolbarButtonComponent {
  padding: calc(var(--je-scale) * 4px);
}

.jp-cell-toolbar .jp-ToolbarButtonComponent > svg {
  min-height: 25px;
  min-width: 21px;
}

/* Main area widget base styles */
.jp-MainAreaWidget > .jp-Toolbar {
  border-radius: var(--je-round-corners);
  min-height: var(--je-toolbar-height) !important;
}

.jp-MainAreaWidget > .jp-Toolbar .jp-ToolbarButtonComponent-label {
  font-size: calc(var(--je-scale) * 24px);
}

.jp-MainAreaWidget > .jp-Toolbar .jp-ToolbarButtonComponent > svg {
  height: initial;
  width: initial;
  scale: var(--je-scale);
}

.jp-MainAreaWidget > :not(.jp-Toolbar) {
  border-radius: var(--je-round-corners);
  margin-top: var(--je-margin-below-toolbar);
  background: white;
}

.jp-Notebook {
  --jp-code-font-size: calc(var(--je-scale) * 16px);
  --jp-cell-editor-background: #f7f7f7;
  --jp-cell-editor-border-color: #a7a9ac;
  --jp-border-width: calc(var(--je-scale) * 1px);
}

.jp-InputArea-editor {
  border-radius: var(--je-round-corners);
  padding: calc(var(--je-scale) * 5px);
}

/* View Only header */
.je-ViewOnlyHeader {
  min-height: 40px;
  display: flex;
  align-items: center;
  background: var(--je-slate-blue);
}

.je-ViewOnlyHeader-content {
  color: white;
  font-family: var(--je-font-family);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 8px 16px;
  width: 100%;
}

.jp-MainAreaWidget > .je-ViewOnlyHeader-wrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.je-ViewOnlyHeader-wrapper + .jp-Notebook {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.jp-NotebookPanel-toolbar.je-ViewOnlyNotebookToolbar {
  border: 3px solid var(--je-slate-blue) !important;
}

#jp-main-dock-panel[data-mode='single-document'] {
  padding: var(--je-document-padding) !important;
  background: #d8b8dc;
}

#jp-main-dock-panel[data-mode='single-document'] .jp-MainAreaWidget {
  border-radius: var(--je-round-corners);
  background: transparent;
}

.jp-ToolbarButtonComponent.je-CreateCopyButton {
  background: var(--je-slate-blue-gradient);
  color: white;
  border-radius: var(--je-round-corners);
  font-family: var(--je-font-family);
  font-weight: 600;
  padding: 4px 12px;
  border: none;
  box-shadow: 1px 2px 0 #0000006f !important; /* pretty much convinced my browser is haunted */
}

.jp-ToolbarButtonComponent.je-CreateCopyButton:hover {
  background: #2c1f5c;
}
